.listing-title {
  color: black;
  font-size: 14px;
}

#testing {
  color: blue;
}

.panel-heading {
  padding: 1px 1px;
  background-color: white !important;
}

.panel-body-img {
  padding-top: 15px;
  height: 65px;
  width: 65px;
}

.listing-title-location {
  color: black;
  font-style: italic;
  font-size: .70em;
}

.listing-company {
  font-size: .85em;
}
